$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

@mixin respond-to($media) {
    @if $media == xs-screens {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == sm-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == large-screens {
        @media only screen and (min-width: $break-large + 1) and (max-width: $break-extra-large - 1) { @content; }
    }
    @else if $media == extra-large-screens {
        @media only screen and (min-width: $break-extra-large) { @content; }
    }
}